<html>
<head>
    {% comment %} 
    place for shopify to inject scripts and plug ins (CSS, JavaScript, etc.)
    {% endcomment %}
    {{ content_for_header }}
</head>
<body>
    {% comment %} 
    place for shopify to inject templates
    {% endcomment %}
    {{ content_for_layout }}
</body>
</html>